//Variáveis

$flex: flex;
$none: none;
$abs: absolute;
$in-flex: inline flex;
$r-w: row wrap;
$center: center;
$left: left;
$bold: bold;

//colors
$blue: rgba(33, 51, 115, 1);
$lightpurple: rgba(48, 24, 93, 0.45);
$white: rgba(255, 255, 255, 1);
$lightgreen: rgba(92, 214, 98, 0.74);
$black: rgba(0, 0, 0, 1);