<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="Chave Vendas">
    <th mat-header-cell *matHeaderCellDef="">Chave Vendas</th>
    <td mat-cell *matCellDef="let element">{{element.ChaveVendas}}</td>
  </ng-container>

  <ng-container matColumnDef={{header[1]}}>
    <th mat-header-cell *matHeaderCellDef="">{{header[1]}}</th>
    <td mat-cell *matCellDef="let element">{{element.LocalizadorVendas}}</td>
  </ng-container>

  <ng-container matColumnDef={{header[2]}}>
    <th mat-header-cell *matHeaderCellDef="">{{header[2]}}</th>
    <td mat-cell *matCellDef="let element">{{element.ChaveOnline}}</td>
  </ng-container>

  <ng-container matColumnDef={{header[3]}}>
    <th mat-header-cell *matHeaderCellDef="">{{header[3]}}</th>
    <td mat-cell *matCellDef="let element">{{element.LocalizadorOnline}}</td>
  </ng-container>

  <ng-container matColumnDef={{header[4]}}>
    <th mat-header-cell *matHeaderCellDef="">{{header[4]}}</th>
    <td mat-cell *matCellDef="let element">{{element.ChaveCartoes}}</td>
  </ng-container>

  <ng-container matColumnDef={{header[5]}}>
    <th mat-header-cell *matHeaderCellDef="">{{header[5]}}</th>
    <td mat-cell *matCellDef="let element">{{element.LocalizadorCartoes}}</td>
  </ng-container>

  <ng-container matColumnDef={{header[6]}}>
    <th mat-header-cell *matHeaderCellDef="">{{header[6]}}</th>
    <td mat-cell *matCellDef="let element">{{element.Data}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="header"></tr>
  <tr mat-row *matRowDef="let row; columns: header"></tr>

</table>
